    <div  class="container">
        <h2>REGISTER SUBSCRIBER</h2>
        <form [formGroup]="subscribersForm" (ngSubmit)="submitRegistration()" novalidate>
            <div *ngIf="validMessage != ''">
              <h3 class="has-info">{{validMessage}}</h3>
            </div>
            <div *ngIf="submitRegistration" class="form-group">
                <label>First name</label>
                <input type="text" class="form-control" formControlName="firstname" required />
              </div>
              <div class="form-group">
                <label>Last name</label>
                <input type="text" class="form-control" formControlName="lastname" required />
              </div>
              <div class="form-group">
                <label>Age</label>
                <input type="number" class="form-control" formControlName="age" required />
              </div>
              <div class="form-group">
                <label>Start</label>
                <input type="date" class="form-control" formControlName="start" required />
              </div>
              <div class="form-group">
                <label>End</label>
                <input type="date" class="form-control" formControlName="end" required />
              </div>
              <div class="form-group">
                <label>Price</label>
                <input type="text" class="form-control" formControlName="price" required />
              </div>
      
              <button type="submit" (click)="submitRegistration()" class="btn btn-primary" >Submit</button><br><br>
              <button type="submit" [routerLink]="['/view']"  class="btn btn-primary" >Next to view</button>
          </form>
          </div>

