<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Sign In</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>
					<span><i class="fab fa-twitter-square"></i></span>
				</div>
			</div>
			<div class="card-body">
				<form>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" name="username"  class="form-control" placeholder="username">
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" name="password" class="form-control" placeholder="password">
					</div>
					<div class="form-group">
						<input type="submit" (click) ="login()" value="login" class="btn float-right login_btn">
					</div>
					<div style="color: tomato;" *ngIf="invalidUsernameOrPasswordError !=='' ">
						{{ invalidUsernameOrPasswordError }}
					</div>
				</form>
			</div>
			<br><br>
			<div class="card-footer">
				<div  class="d-flex justify-content-center links">
					Don't have an account? <button style="margin-left: 60px;" class="btn btn-primary" routerLink = '/register'>Register</button>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>
