<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>Competition</h2>
        <p><a class="btn btn-primary" routerLink="/competition"></a></p>
        <table class="table table-bordered table-inverse">
        <tr>
            <th>Competitor</th>
            <th>Category</th>
            <th>KG</th>
            <th>Age</th>
            <th>Date</th>
            <th>Action</th>
            <th>Action</th>


        </tr>

        <tr *ngFor="let competition of competition">
            <td [routerLink]="['/competition/view/', competition.id]" class="pointer">
            {{competition.competitor.firstname}}
            </td>
            <td>
                {{competition.category}}
            </td>
             <td>
                {{competition.kg}}
            </td>
            <td>
                {{competition.age}}
            </td>
            <td>
                {{competition.competitionDate}}
            </td>
            <td>
            <button *ngIf="competition" (click)="deleteCompetitionById(competition.id)" class="btn btn-light"> Delete</button>
             </td>
             <td>
                 <button [routerLink]="['/competition/',competition.id]" class="btn btn-light">Update</button>
             </td>
        </tr>
    </table>
    </div>


    
</body>
</html>
