<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Competition</title>
</head>
<body>
    <h2>REGISTER COMPETITOR</h2>
    
    <div class="container">
    <form [formGroup]="competitionForm" (ngSubmit)="submitRegistration()" novalidate>
        <div *ngIf="validMessage  !=''">
            <h3 class="has-info">{{validMessage}}</h3>
        </div>

        <div *ngIf="competitionRegistration" class="form-group">
            <label>ID</label>
            <div class="form-control">{{competitionRegistration.id}}</div>
          </div>

            <div class="form-group">
           <label>Competitor name</label>
           <select class="form-control" formControlName="competitor">
           <option *ngFor="let competitor of subscriberList"
           [value]='competitor.firstname'>
              {{competitor.firstname}}</option>
        </select>
          </div>

          <div class="form-group">
              <label>Category</label>
              <input type="text" class="form-control" formControlName="category" required/>
          </div>

          <div class="form-group">
            <label>KG</label>
            <input type="number" class="form-control" formControlName="kg" required/>
        </div>
        <div class="form-group">
            <label>Age</label>
            <input type="number" class="form-control" formControlName="age" required/>
        </div>
        <div class="form-group">
            <label>Date</label>
            <input type="date" class="form-control" formControlName="competitionDate" required/>
        </div>

        <button type="submit" class="btn btn-dark">Submit</button>
        <br><br>
    <button [routerLink]="['/competition/view']" class="btn btn-dark">Competion form</button>
    </form>
    </div>


</body>
</html>
