<!DOCTYPE html>
<html lang="en">
<head>
  
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <h2>Subscribers</h2>
    <p><a class="btn btn-light" [routerLink]="['/home']">Register a new subscriber</a></p>
    <table class="table table-bordered table-inverse">
      <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Age</th>
        <th>Start subscription</th>
        <th>End subscription</th>
        <th>Price</th>
        <th>Action</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let subscriber of subscribers">
        <td>
          {{subscriber.id}}
        </td>
        <td><a [routerLink]="['/view/', subscriber.id]" class="pointer">
            {{subscriber.firstname}}</a>
          </td>
          <td>
            {{subscriber.lastname}}
          </td>
        <td>
          {{subscriber.age}}
        </td>
        <td>
          {{subscriber.start}}
        </td>
        <td>
          {{subscriber.end}}
        </td>
        <td>
          {{subscriber.price}}
        </td>
        
        <!-- <td>
          {{bill.flatBlock.name}}
        </td> -->
  
     <td>   <button [routerLink]="['/home/',subscriber.id]"  class="btn btn-light">Update</button></td> 
        <!-- <a class="navbar-brand" href="#">Invoice Form</a> -->
  
        <!-- <button [routerLink]="['/bills/',bill.id]" class="btn btn-light">Update Bill</button>
        <td>
        <button *ngIf="bill" (click)="deleteBillById(bill.id)" class="btn btn-light">Delete Bill</button></td> -->
     <td> <a href="/view"> <button *ngIf="subscriber" (click)="deleteSubscriberById(subscriber.id)" class="btn btn-light">Delete</button></a></td> 
      </tr>
    </table>
  </div>

</body>
</html>

