<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
          <a class="btn btn=primary" routerLink="/competition/view">Back to List</a>
        </div>
        <div *ngIf="competitionRegistration">
          <div class="form-group">
            <label>Competitor</label>
            <div class="form-control">{{competitionRegistration.competitor.firstname}}</div>
          </div>
          <div class="form-group">
            <label>Category</label>
            <div class="form-control">{{competitionRegistration.category}}</div>
          </div>
          <div class="form-group">
            <label>KG</label>
            <div class="form-control">{{competitionRegistration.kg}}</div>
          </div>
          <div class="form-group">
            <label>Age</label>
            <div class="form-control">{{competitionRegistration.age}}</div>
          </div>
          <div class="form-group">
            <label>Date</label>
            <div class="form-control">{{competitionRegistration.competitionDate}}</div>
          </div>
          
         
        </div>
      </div>




</body>
</html>