<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
          <a class="btn btn=primary" routerLink="/view">Back to List</a>
        </div>
        <div *ngIf="subscriberRegistration">
          <div class="form-group">
            <label>First name</label>
            <div class="form-control">{{subscriberRegistration.firstname}}</div>
          </div>
          <div class="form-group">
            <label>Last name</label>
            <div class="form-control">{{subscriberRegistration.lastname}}</div>
          </div>
          <div class="form-group">
            <label>Age</label>
            <div class="form-control">{{subscriberRegistration.age}}</div>
          </div>
          <div class="form-group">
            <label>Start subscription</label>
            <div class="form-control">{{subscriberRegistration.start}}</div>
          </div>
          <div class="form-group">
            <label>End subscription</label>
            <div class="form-control">{{subscriberRegistration.end}}</div>
          </div>
          <div class="form-group">
            <label>Price</label>
            <div class="form-control">{{subscriberRegistration.price}}</div>
          </div>
         
        </div>
      </div>




</body>
</html>