<!--     
    username
    <input type="text" name="username" [(ngModel)]="username">
    <br>
    password
    <input type="password" name="password" [(ngModel)]="password">
    
    <button class="btn btn-primary" (click) ="register()">Register</button> -->

    <body>
        <div id="register">
            <!-- <h3 class="text-center text-white pt-5">Register form</h3> -->
            <div class="container">
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" class="col-md-12">
                            <form id="login-form" #f="ngForm" (ngSubmit)="register()" class="form">
                                <h3 class="text-center text-info">Register</h3>
                                <div class="form-group">
                                    <label for="username" class="text-info">Username:</label><br>
                                    <input type="text" name="username" #username="ngModel" minlength="5" required (ngModel)="username" class="form-control">
                                    <div *ngIf="username?.touched  && !username?.valid" class="alert alert-danger">
                                        <div *ngIf="username?.errors?.required">Field is required.</div>
                                        <div *ngIf="username?.errors?.minlength">Name must have at least 5 characters.</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="text-info">Password:</label><br>
                                    <input type="password" minlength="6" name="password" required #password="ngModel" (ngModel)="password" class="form-control">
                                    <div *ngIf="password?.touched  && !password?.valid" class="alert alert-danger">
                                        <div *ngIf="password?.errors?.required">Field is required.</div>
                                        <div *ngIf="password?.errors?.minlength">Name must have at least 6 characters.</div>
                                    </div>
                                </div>
                                    <!-- <label for="remember-me" class="text-right"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br> -->
                                    <input type="submit" [disabled]="!f.valid" name="submit" class="btn btn-info btn-md" value="submit"> 
                                <!-- <div id="register-link" class="text-right">
                                    <button class="btn btn-primary" routerLink = '/'>Login</button>
                                </div> -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </body>

    